/* Google fonts import link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
  font-family: 'Poppins',sans-serif;
}
body{
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F1F1F1;
}

.slider-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 30px;
}

.plus, .minus {
  border: none;
  font-size: 25px;
  cursor: pointer;
  background-color: transparent;
}

.value-container {
  color: #000000;
  font-size: 25px;
}

.slider {
  width: 60%;
  height: 10px;
  background: linear-gradient(to right, #fad88d 0%, #FFB037 0%, #FFFFFF 0%, #FFFFFF 100%);
  transition: backgound 450ms ease-in;
  -webkit-appearance: none;
  border-radius: 25px;
  box-shadow: 2px 8px 13px -3px rgba(116, 114, 114, 0.75);
}

.slider::-webkit-slider-thumb {
  cursor: pointer;
  appearance: none;
  height: 20px;
  width: 20px;
  background-color: #FFB037;
  border-radius: 50%;
  border: 4px solid #FFFFFF;
  box-shadow: 2px 8px 13px -3px rgba(116, 114, 114, 0.75);
}